* {
    margin: 0;
}

.top{
    height: 64px;
    background: #A50010;
    color: white;
    font-family: "Magra";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
}
